/** 
 * Over-block utility
 * 
 * Synopsis:
 * 
 * 		cover()
 * 
 * Example:
 * 		
 * 		.class
 * 			cover()
 * 
 */


cover(pos = 'absolute', cross = 0)
	position unquote(pos)
	bottom cross
	left cross
	right cross
	top cross