// Panel container

.panel
	background-color darken(color-smoke, 5%)
	flex-grow 1
	overflow hidden
	
	display flex
	align-items center
	justify-content center

	&-container
		padding 30px 20px
		center: 960px
		box-sizing border-box
		
		+below( $laptop )
			padding 20px 0