// Helpers class

.hidden
[hidden]
	display none !important
	visibility hidden !important
	
.visible
	display inherit
	visibility visible
	
.hidden-visibility
	visibility hidden
	opacity 0
	
.breakline
	display block

.link
	color blue
	cursor pointer
	text-decoration underline

.align-middle
	display inline-block
	height 100%
	vertical-align middle	
	
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right

.img-responsive
	img-responsive()

.overflow
	overflow hidden