
.shopcards
	position relative
	
	&-title
		position relative
		padding-top 12px
	
	&-brand
		box-y()
		margin-top 6px
		left 25px
		svg
			display inline-block
			vertical-align middle

.cards
	position relative
	width 100%
	display grid
	grid-template-columns repeat(auto-fill, minmax(266px, max-content))
	justify-content center
	
	&-box
		position relative
		background-color color-smoke
		border 1px solid white
		// border-top-width 2px
		border-bottom 1px solid darken(color-smoke, 15%)
		border-radius 4px
		size: 250px
		margin 8px
		padding 15px
		transition all 400ms ease-out
		box-sizing border-box
		
		display inline-block
		vertical-align top
		
		opacity 0
		animation fadeInDown 300ms ease-out both
			
		for i in 1..6
			&:nth-child({i})
				delay = (50 * i) + 0ms;
				animation-delay delay
				// animation fadeInDown 400ms ease-out delay
				
		&:hover
			border-color alpha(black, .2)
			border-width 1px
	

.box
	&-head
		absolute: top 15px left 15px
		z-index 1
		
	&-title
		font-size 14px
		// padding 4px 8px
		// background-color alpha(white, .4)
		border-radius 8px
		line-height 1
		color black
	
	&-highlight
		absolute: bottom 15px left 15px
		font-size 14px
		letter-spacing .2em
		line-height 1
		font-weight 700
		z-index 1
	
	&-pagination
		absolute: top 15px right 15px
		z-index 1
	
	&-media
		absolute: top 15px right 15px bottom 15px left 15px
		max-width 220px
		overflow hidden
		z-index 0
		img
			display block
			max-width 100%
			max-height 100%
			object-fit cover
			margin-bottom 0